.w3-amber,
.w3-hover-amber:hover {
  color: #000 !important;
  background-color: #ffc107 !important;
}
.w3-aqua,
.w3-hover-aqua:hover {
  color: #000 !important;
  background-color: #00ffff !important;
}
.w3-blue,
.w3-hover-blue:hover {
  color: #000 !important;
  background-color: #2196f3 !important;
}
.w3-light-blue,
.w3-hover-light-blue:hover {
  color: #000 !important;
  background-color: #87ceeb !important;
}
.w3-brown,
.w3-hover-brown:hover {
  color: #000 !important;
  background-color: #795649 !important;
}
.w3-bronze,
.w3-hover-bronze:hover {
  color: #000 !important;
  background-color: #644539 !important;
}
.w3-cyan,
.w3-hover-cyan:hover {
  color: #000 !important;
  background-color: #00bcd4 !important;
}
.w3-blue-grey,
.w3-hover-blue-grey:hover,
.w3-blue-gray,
.w3-hover-blue-gray:hover {
  color: #000 !important;
  background-color: #607d8b !important;
}
.w3-green,
.w3-hover-green:hover {
  color: #000 !important;
  background-color: #4caf50 !important;
}
.w3-light-green,
.w3-hover-light-green:hover {
  color: #000 !important;
  background-color: #8bc34a !important;
}
.w3-indigo,
.w3-hover-indigo:hover {
  color: #000 !important;
  background-color: #3f51b5 !important;
}
.w3-khaki,
.w3-hover-khaki:hover {
  color: #000 !important;
  background-color: #f0e68c !important;
}
.w3-lime,
.w3-hover-lime:hover {
  color: #000 !important;
  background-color: #cddc39 !important;
}
.w3-orange,
.w3-hover-orange:hover {
  color: #000 !important;
  background-color: #ff9800 !important;
}
.w3-deep-orange,
.w3-hover-deep-orange:hover {
  color: #000 !important;
  background-color: #ff5722 !important;
}
.w3-pink,
.w3-hover-pink:hover {
  color: #000 !important;
  background-color: #e91e63 !important;
}
.w3-purple,
.w3-hover-purple:hover {
  color: #000 !important;
  background-color: #9c27b0 !important;
}
.w3-deep-purple,
.w3-hover-deep-purple:hover {
  color: #000 !important;
  background-color: #673ab7 !important;
}
.w3-red,
.w3-hover-red:hover {
  color: #000 !important;
  background-color: #f44336 !important;
}
.w3-sand,
.w3-hover-sand:hover {
  color: #000 !important;
  background-color: #fdf5e6 !important;
}
.w3-teal,
.w3-hover-teal:hover {
  color: #000 !important;
  background-color: #009688 !important;
}
.w3-yellow,
.w3-hover-yellow:hover {
  color: #000 !important;
  background-color: #ffeb3b !important;
}
.w3-white,
.w3-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important;
}
.w3-black,
.w3-hover-black:hover {
  color: #000 !important;
  background-color: #000 !important;
}
.w3-grey,
.w3-hover-grey:hover,
.w3-gray,
.w3-hover-gray:hover {
  color: #000 !important;
  background-color: #9e9e9e !important;
}
.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}
.w3-dark-grey,
.w3-hover-dark-grey:hover,
.w3-dark-gray,
.w3-hover-dark-gray:hover {
  color: #000 !important;
  background-color: #616161 !important;
}
.w3-pale-red,
.w3-hover-pale-red:hover {
  color: #000 !important;
  background-color: #ffdddd !important;
}
.w3-pale-green,
.w3-hover-pale-green:hover {
  color: #000 !important;
  background-color: #ddffdd !important;
}
.w3-pale-yellow,
.w3-hover-pale-yellow:hover {
  color: #000 !important;
  background-color: #ffffcc !important;
}
.w3-pale-blue,
.w3-hover-pale-blue:hover {
  color: #000 !important;
  background-color: #ddffff !important;
}
.w3-container,
.w3-panel {
  padding: 0px;
}
.w3-panel {
  margin-top: 0px;
  margin-bottom: 0px;
}
